{
  "extends": "airbnb-base",

  "ignorePatterns": "evaParser.js",
  "overrides": [{
      "files": "*",
      "rules": 
        {
          "no-console":"off", 
          "func-names":"off"
        }
  }]
}